/* http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,900;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

* {
  font-family: "Lato", "Arial", "Helvetica";
  text-align: center;
  font-weight: 500;
  scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

input, textarea {
  display: block;
  margin: 0;
  padding: 0;
}

.lightblue_text {
  color: #76C4D1;
}

.navy_text {
  color: #184568;
}

main {
  font-size: 16px;
}
main p {
  line-height: 18px;
  font-size: 16px;
}
main .home_banner_img {
  position: relative;
}
main .home_banner_img img {
  min-width: 375px !important;
  width: 100%;
  object-fit: cover;
}
main .banner_textBox {
  color: white !important;
  position: absolute;
  margin: 0 30px;
  top: 0;
  left: 0;
}
main .banner_textBox p {
  font-size: 20px;
  padding: 20px 0;
  line-height: 20px;
}
main .banner_textBox .bullying_taglines {
  margin: 320px 0 180px 0;
}
main .banner_textBox .bullying_taglines h2 {
  font-family: "Anton", "Helvetica", "Arial";
  font-size: 40px;
  line-height: 42px;
}
main .banner_textBox .bullying_taglines h2 .heading_text_span1 {
  font-size: 30px;
}
main .banner_textBox .bullying_definition h3 {
  font-family: "Anton";
  font-size: 30px;
  line-height: 38px;
}
main .banner_textBox .bullying_types div {
  margin: 30px 0;
  font-size: 14px;
}
main .banner_textBox .bullying_types div h3 {
  color: black;
  font-family: "Antonio";
  font-weight: bold;
  padding: 16px 0;
  background-color: #76C4D1;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
main .banner_textBox .bullying_types div p {
  padding: 14px 0;
}
main .home_stop_bullying {
  margin: 100px 30px;
}
main .home_stop_bullying .home_stop_bullying_textBox h2 {
  font-size: 30px;
  font-family: "Anton", "Arial", "Helvetica";
  line-height: 34px;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
  margin: 20px 0;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1254901961));
  background-color: white;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box img {
  width: 100%;
  object-fit: fill;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox {
  padding: 20px 20px;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
  font-weight: 800;
  font-size: 18px;
  line-height: 22px;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox p {
  padding: 12px 0;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox button {
  appearance: none;
  background-color: transparent;
  border: none;
  color: #76C4D1;
  font-weight: 700;
  font-size: 16px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
main .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox button:hover {
  color: #184568;
}
main .home_campaigns_activity {
  position: relative;
}
main .home_campaigns_activity .home_campaigns {
  margin: 100px 30px;
  position: absolute;
  top: 0;
  left: 0;
}
main .home_campaigns_activity .home_campaigns div {
  margin: 50px 0 100px 0;
}
main .home_campaigns_activity .home_campaigns img {
  width: 100%;
  object-fit: cover;
  margin: 0 0 20px 0;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1254901961));
}
main .home_campaigns_activity .home_campaigns h3 {
  font-size: 30px;
  font-family: "Anton", "Arial", "Helvetica";
}
main .home_campaigns_activity .home_campaigns p {
  padding: 20px 0 0 0;
  line-height: 18px;
}
main .home_campaigns_activity .home_campaigns .campaign_details {
  font-weight: bold;
}
main .home_campaigns_activity .home_campaigns button {
  font-size: 18px;
  color: black;
  border: none;
  border-radius: 20px;
  background-color: #76C4D1;
  font-weight: bold;
  padding: 10px 14px;
  margin: 20px 0;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
main .home_campaigns_activity .home_campaigns button:hover {
  background-color: #184568;
  color: white;
}
main .home_contact {
  margin: 0 30px;
}
main .home_contact .homeContact_textBox {
  padding: 100px 0;
}
main .home_contact .homeContact_textBox h2 {
  font-size: 30px;
  font-family: "Anton", "Arial", "Helvetica";
}
main .home_contact .homeContact_textBox p {
  margin: 20px 0;
}
main .home_contact .homeContact_textBox button {
  font-size: 18px;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: #184568;
  font-weight: bold;
  padding: 10px 18px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
main .home_contact .homeContact_textBox button:hover {
  background-color: #76C4D1;
  color: black;
}
main .home_contact .contact_socialMedia {
  margin: 20px 0;
  display: flex;
  column-gap: 10px;
  justify-content: center;
  font-size: 60px;
  color: #184568;
}
main .home_contact .contact_socialMedia a {
  text-decoration: none;
  color: #184568;
  transition: all 0.2s ease-in;
}
main .home_contact .contact_socialMedia a:hover {
  color: #76C4D1;
}
main .home_contact .contact_socialMedia i {
  display: block;
}
main .about_banner_img img {
  min-width: 375px !important;
  width: 100%;
  height: 800px;
  object-fit: cover;
}
main .about_banner_textBox {
  color: white;
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  margin: 250px 20px 180px 20px !important;
  text-align: center !important;
}
main .about_banner_textBox h2 {
  font-size: 50px;
  font-family: "Anton", "Helvetica", "Arial";
}
main .about_banner_textBox .sep_line {
  width: 50px;
  height: 2px;
  background-color: white;
  border-radius: 100px;
  margin: 20px auto;
}
main .behind_emerge {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8078431373);
  filter: drop-shadow(0 10px 20px rgba(0, 0, 0, 0.1882352941));
  margin: 500px 20px 0 20px;
  z-index: 2;
}
main .behind_emerge h3 {
  font-size: 30px;
  font-family: "Anton", "Helvetica", "Arial";
  padding: 90px 0 20px 0;
}
main .behind_emerge h3 span {
  color: #76C4D1;
}
main .behind_emerge p {
  text-align: center;
  margin: 0 20px;
  padding: 20px 0 90px 0;
  line-height: 22px;
}
main .empty_space {
  height: 500px;
}
main .emerge_vid {
  margin: 20px 20px 20px 20px;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1254901961));
  z-index: 0;
  padding: 100px 0;
}
main .emerge_vid .emerge_vid_title h2 {
  font-size: 40px;
  font-family: "Anton", "Arial", "Helvetica";
  line-height: 42px;
  padding: 200px 0 30px 0;
}
main .emerge_vid video {
  width: 100%;
  height: auto;
}
main .emerge_vid_campaign {
  margin: 10px 20px;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.1254901961));
  z-index: 0;
  padding: 100px 0;
}
main .emerge_vid_campaign .emerge_vid_title h2 {
  font-size: 40px;
  font-family: "Anton", "Arial", "Helvetica";
  line-height: 42px;
  padding: 0 0 30px 0;
}
main .emerge_vid_campaign video {
  width: 100%;
  height: auto;
}
main .campaign_banner_img {
  position: relative;
}
main .campaign_banner_img img {
  min-width: 320px !important;
  width: 100%;
  height: 700px;
  object-fit: cover;
}
main .campaign_banner .banner_textBox {
  color: white !important;
  position: absolute;
  margin: 0 30px;
  top: 20%;
  left: 0;
  bottom: 20%;
}
main .campaign_banner .banner_textBox p {
  font-size: 16px;
  padding: 20px 0;
  line-height: 20px;
  text-align: left;
}
main .campaign_banner .banner_textBox .bullying_taglines {
  margin: 200px 0 180px 0;
}
main .campaign_banner .banner_textBox .bullying_taglines h2 {
  font-family: "Anton", "Helvetica", "Arial";
  font-size: 40px;
  line-height: 42px;
  text-align: left;
}
main .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
  font-size: 30px;
}
main .blog_header_text .bullying_taglines p {
  font-size: 20px;
  line-height: 30px;
}
main .searchbar {
  margin: 40px auto;
  min-width: 200px;
  max-width: 500px;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1254901961));
}
main .searchbar .searchfield {
  border: none;
  outline: none;
  background-color: white;
  padding: 14px 0;
  font-family: "Lato";
  text-align: center;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  min-width: 320px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  color: #000000;
  font-size: 14px;
}
main .searchbar input::placeholder {
  font-family: "Lato", "arial" !important;
  text-align: center;
  color: rgba(0, 0, 0, 0.3137254902);
}
main .searchbar .btn-search {
  padding: 14px 20px;
  border: none;
  outline: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  background-color: #184568;
  color: white;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
main .searchbar .btn-search:hover {
  background-color: #76C4D1;
}
main .articles {
  margin: auto 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 50px;
}
main .articles .article {
  min-width: 240px;
  width: 100%;
}
main .articles .article img {
  min-width: 240px;
  max-width: 500px;
  width: 100%;
  border-radius: 4px;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.1254901961));
}
main .articles .article .articledesc {
  margin: 20px 0;
}
main .articles .article .articledesc a h2 {
  font-size: 2rem;
  line-height: 38px;
  font-family: "Anton";
  color: #184568;
  transition: all 0.2s ease-in;
}
main .articles .article .articledesc a h2:hover {
  color: #76C4D1;
}
main .articles .article .articledesc p {
  font-size: 18px;
  line-height: 22px;
  margin: 20px 0;
}
main .articlepage h2 {
  color: white;
  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.1882352941));
}
main .textsection {
  margin: 1rem 30px;
}
main .textsection .text_placeholder {
  margin: 1rem 0;
}
main .textsection .text_placeholder h3 {
  font-size: 50px;
  color: #184568;
  font-family: "Anton";
  text-align: left;
  line-height: 60px !important;
}
main .textsection .text_placeholder .certain_info {
  margin: 14px 0;
}
main .textsection .text_placeholder .certain_info p {
  text-align: left;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3764705882);
  font-weight: 300;
}
main .textsection .textarticle p {
  text-align: left;
  line-height: 24px;
}
main .textsection .commenttitle {
  font-family: "Anton";
  font-size: 2em;
  color: #184568;
  text-align: left;
  margin: 2em 0 1em 0;
}
main .textsection .article_form {
  margin: 0 auto 80px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 14px;
}
main .textsection .article_form input,
main .textsection .article_form textarea {
  min-width: 240px;
  width: 100%;
  padding: 12px 20px;
  border-radius: 20px;
  outline: none;
  border: none;
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.1254901961));
  text-align: center;
}
main .textsection .article_form input::placeholder,
main .textsection .article_form textarea::placeholder {
  text-align: left;
}
main .textsection .article_form textarea {
  min-height: 200px;
  resize: none;
  font-size: 14px;
}
main .textsection .article_form textarea::placeholder {
  font-size: 14px;
}
main .textsection .article_form .article_submit_btn input {
  max-width: 150px;
  width: 100%;
  background-color: #184568;
  color: white;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
main .textsection .article_form .article_submit_btn input:hover {
  background-color: #76C4D1;
}

@media only screen and (min-width: 375px) and (max-width: 399px) {
  main .home_banner .home_banner_img img {
    min-width: 375px !important;
    width: 100%;
    height: 1800px;
    object-fit: cover;
  }
  main .home_campaigns_bg {
    position: relative;
  }
  main .home_campaigns_bg img {
    width: 100%;
    object-fit: cover;
    height: 1500px !important;
  }
}
@media only screen and (min-width: 400px) and (max-width: 500px) {
  main .home_banner .home_banner_img img {
    min-width: 375px !important;
    width: 100%;
    height: 1850px;
    object-fit: cover;
  }
  .home_banner .banner_textBox .bullying_taglines h2 {
    font-size: 50px;
    line-height: 48px;
  }
  .home_banner .banner_textBox .bullying_taglines p {
    margin: 10px 0;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 18px;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 40px !important;
    line-height: 42px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 30px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 22px !important;
  }
  .home_campaigns_activity .home_campaigns_bg {
    position: relative;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    object-fit: cover;
    height: 1800px !important;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 40px !important;
    line-height: 50px;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img {
    padding: 0 0 20px 0;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 40px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .empty_space {
    height: 500px;
  }
  .emerge_vid {
    margin: 20px 20px 20px 20px !important;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 700px;
  }
  .campaign_banner .banner_textBox .bullying_taglines {
    margin: 200px 0 180px 0;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 50px;
    line-height: 48px;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    margin: 10px 0;
  }
}
@media only screen and (min-width: 501px) and (max-width: 600px) {
  .home_banner .home_banner_img img {
    min-width: 375px !important;
    width: 100%;
    height: 1800px !important;
    object-fit: cover;
  }
  .home_banner .banner_textBox {
    margin: 20px 40px !important;
  }
  .home_banner .banner_textBox .bullying_taglines h2 {
    font-size: 60px;
    line-height: 56px;
  }
  .home_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .home_banner .banner_textBox .bullying_taglines p {
    margin: 10px 0;
  }
  .home_banner .banner_textBox .bullying_definition .br_break {
    display: none;
  }
  .home_banner .banner_textBox .bullying_definition h3 {
    font-size: 40px !important;
    line-height: 42px;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 18px;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 40px !important;
    line-height: 42px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 30px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 22px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 1800px;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 40px !important;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img,
  .home_campaigns_activity .home_campaigns .campaign_2 img {
    padding: 0 0 20px 0;
    width: 500px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 40px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .emerge_vid {
    margin: 0 20px 20px 20px !important;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 800px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 60px !important;
    line-height: 56px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    margin: 10px 0;
  }
}
@media only screen and (min-width: 601px) and (max-width: 700px) {
  .home_banner img {
    width: 100%;
    height: 1600px !important;
  }
  .home_banner .banner_textBox {
    margin: 20px 20px;
  }
  .home_banner .banner_textBox .bullying_taglines h2 {
    font-size: 60px;
    line-height: 56px;
  }
  .home_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .home_banner .banner_textBox .bullying_taglines p {
    margin: 10px 0;
  }
  .home_banner .banner_textBox .bullying_definition .br_break {
    display: none;
  }
  .home_banner .banner_textBox .bullying_definition h3 {
    font-size: 40px !important;
    line-height: 42px;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 18px;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 40px !important;
    line-height: 42px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 30px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox {
    padding: 30px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 22px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox p {
    padding: 20px 0 !important;
    font-size: 18px;
    line-height: 24px;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 1780px !important;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 40px !important;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img,
  .home_campaigns_activity .home_campaigns .campaign_2 img {
    padding: 0 0 20px 0;
    width: 500px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 40px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .emerge_vid {
    margin: 20px 20px 20px 20px !important;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .empty_space {
    height: 300px !important;
  }
  .campaign_banner_img {
    width: 100%;
    height: 800px !important;
    object-fit: cover !important;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 800px !important;
    object-fit: cover !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 60px !important;
    line-height: 56px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    margin: 10px 0;
  }
}
@media only screen and (min-width: 701px) and (max-width: 800px) {
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .br_break {
    display: none;
  }
  .home_banner img {
    width: 100%;
    height: 1700px !important;
    object-fit: cover;
  }
  .home_banner .banner_textBox {
    margin: 20px 50px;
  }
  .home_banner .banner_textBox .bullying_taglines h2 {
    font-size: 70px;
    line-height: 70px;
  }
  .home_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .home_banner .banner_textBox .bullying_taglines p {
    margin: 20px 0;
  }
  .home_banner .banner_textBox .bullying_definition .br_break {
    display: none;
  }
  .home_banner .banner_textBox .bullying_definition h3 {
    font-size: 40px !important;
    line-height: 42px;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 18px;
  }
  .home_stop_bullying {
    margin: 150px 40px !important;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 50px !important;
    line-height: 52px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 30px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox {
    padding: 30px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 24px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox p {
    padding: 20px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox button {
    font-size: 20px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 2000px !important;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 50px !important;
  }
  .home_campaigns_activity .home_campaigns .campaign_1,
  .home_campaigns_activity .home_campaigns .campaign_2 {
    padding: 50px 0 0 0;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 h3,
  .home_campaigns_activity .home_campaigns .campaign_2 h3 {
    padding: 20px 0 10px 0;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img,
  .home_campaigns_activity .home_campaigns .campaign_2 img {
    padding: 0 0 20px 0;
    width: 500px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 40px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .emerge_vid {
    margin: 20px 50px 20px 50px !important;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .empty_space {
    height: 350px !important;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 800px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    margin: 20px 0;
  }
  footer .br_break {
    display: block;
  }
  footer .footer_logo_box img {
    width: 200px !important;
  }
}
@media only screen and (min-width: 801px) and (max-width: 900px) {
  .home_banner img {
    width: 100%;
    height: 1750px;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
    display: grid !important;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 18px;
  }
  .home_stop_bullying .home_stop_bullying_reasons {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin: 50px 0;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 900px;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 50px !important;
  }
  .home_campaigns_activity .home_campaigns .campaigns_activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 30px;
    margin: 0 !important;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 h3 {
    font-size: 35px !important;
    padding: 20px 0 0 0;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img {
    padding: 0 0 20px 0;
    width: 300px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 p {
    font-size: 16px !important;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 40px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .emerge_vid {
    margin: 0 50px 20px 50px !important;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .empty_space {
    height: 300px !important;
  }
  footer .br_break {
    display: block;
  }
  footer .footer_logo_box img {
    width: 200px !important;
  }
}
@media only screen and (min-width: 801px) and (max-width: 1024px) {
  p {
    font-size: 18px !important;
    line-height: 24px !important;
  }
  .br_break {
    display: none;
  }
  .banner_textBox {
    margin: 20px 50px !important;
  }
  .banner_textBox .bullying_taglines h2 {
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .banner_textBox .bullying_taglines p {
    margin: 20px 0;
  }
  .banner_textBox .bullying_definition .br_break {
    display: none;
  }
  .banner_textBox .bullying_definition h3 {
    font-size: 40px !important;
    line-height: 42px;
  }
  .home_each_reason_box {
    margin: 30px 0 !important;
  }
  .home_each_reason_box .reason_box_textBox {
    padding: 30px !important;
  }
  .home_each_reason_box .reason_box_textBox h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .home_each_reason_box .reason_box_textBox p {
    padding: 20px 0 !important;
  }
  .home_each_reason_box .reason_box_textBox button {
    font-size: 20px !important;
  }
  .home_stop_bullying {
    margin: 150px 40px !important;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 50px !important;
    line-height: 52px !important;
  }
  .emerge_vid {
    margin: 0 50px 20px 50px !important;
  }
  .emerge_vid .emerge_vid_title h2 {
    font-size: 50px !important;
    line-height: 58px !important;
    padding: 200px 0 30px 0;
  }
  .emerge_vid .emerge_vid_title .break_line {
    display: block;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .emerge_vid_campaign {
    margin: 0 50px 20px 50px !important;
  }
  .emerge_vid_campaign .emerge_vid_title h2 {
    font-size: 50px !important;
    line-height: 58px !important;
    padding: 0 0 30px 0;
  }
  .emerge_vid_campaign .emerge_vid_title .break_line {
    display: block;
  }
  .emerge_vid_campaign video {
    width: 100%;
    height: auto;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 1000px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    width: 700px;
    margin: 20px 0;
  }
  footer .br_break {
    display: block;
  }
  .articles {
    padding: 0 50px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1024px) {
  footer .copyright p {
    font-size: 20px !important;
  }
  .home_banner .banner_textBox .bullying_taglines {
    margin: 200px 0 !important;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
    display: grid !important;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 18px;
  }
  .home_stop_bullying .home_stop_bullying_reasons {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
    margin: 50px 0;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 50px !important;
  }
  .home_campaigns_activity .home_campaigns .campaigns_activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 30px;
    margin-top: -20px;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 h3 {
    font-size: 35px !important;
    padding: 20px 0 0 0;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img {
    padding: 0 0 20px 0;
    width: 300px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 p {
    font-size: 16px !important;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 40px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .about_banner_textBox,
  .behind_emerge {
    margin-left: 50px !important;
    margin-right: 50px !important;
  }
  .about_banner_textBox h2 {
    font-size: 70px !important;
  }
  .behind_emerge h3 {
    font-size: 50px !important;
  }
  .emerge_vid {
    margin: 0 50px 20px 50px !important;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  footer .footer_logo_box img {
    width: 200px !important;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1000px) {
  .home_banner img {
    width: 100%;
    height: 1500px;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 1000px;
  }
  .empty_space {
    height: 300px !important;
  }
  .textsection {
    padding: 20px 45px;
  }
}
@media only screen and (min-width: 1001px) and (max-width: 1100px) {
  .home_banner img {
    width: 100%;
    height: 1500px;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 900px;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1200px) {
  .home_banner img {
    width: 100%;
    height: 1500px;
  }
  .campaigns_activities {
    margin-top: -20px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 900px;
  }
}
@media only screen and (min-width: 1201px) and (max-width: 1300px) {
  .home_banner img {
    width: 100%;
    height: 1500px;
  }
  .campaigns_activities {
    margin-top: -20px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 900px;
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1400px) {
  p {
    font-size: 22px !important;
    line-height: 28px !important;
  }
  button {
    padding: 14px 22px !important;
    border-radius: 100px !important;
  }
  .br_break {
    display: none;
  }
  .home_banner img {
    width: 100%;
    height: 1600px !important;
  }
  .home_banner .banner_textBox {
    margin: 20px 80px !important;
  }
  .home_banner .banner_textBox .bullying_taglines {
    margin: 200px 0 !important;
  }
  .home_banner .banner_textBox .bullying_taglines h2 {
    font-size: 90px !important;
    line-height: 86px !important;
  }
  .home_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 50px !important;
  }
  .home_banner .banner_textBox .bullying_taglines p {
    margin: 50px 0 !important;
  }
  .home_banner .banner_textBox .bullying_definition .br_break {
    display: none;
  }
  .home_banner .banner_textBox .bullying_definition h3 {
    font-size: 50px !important;
    line-height: 42px;
    padding: 10px 0;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0;
    display: grid !important;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 23px;
  }
  .home_stop_bullying {
    margin: 150px 80px !important;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 50px !important;
    line-height: 52px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    margin: 50px 0;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box {
    margin: 30px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox {
    padding: 30px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox p {
    padding: 20px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox button {
    font-size: 20px !important;
  }
  .campaigns_activities {
    margin-top: -20px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 900px;
  }
  .home_campaigns_activity .home_campaigns {
    margin: 100px 50px !important;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 50px !important;
  }
  .home_campaigns_activity .home_campaigns .campaigns_activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 60px;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 h3,
  .home_campaigns_activity .home_campaigns .campaign_2 h3 {
    font-size: 35px !important;
    padding: 20px 0 0 0;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img,
  .home_campaigns_activity .home_campaigns .campaign_2 img {
    padding: 0 0 20px 0;
    width: 300px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 p,
  .home_campaigns_activity .home_campaigns .campaign_2 p {
    font-size: 18px !important;
  }
  .home_contact {
    padding: 50px 0 !important;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 50px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .about_banner_textBox,
  .behind_emerge {
    margin-left: 80px !important;
    margin-right: 80px !important;
  }
  .about_banner_textBox h2 {
    font-size: 70px !important;
  }
  .behind_emerge {
    top: 20% !important;
  }
  .behind_emerge h3 {
    font-size: 50px !important;
  }
  .emerge_vid_ {
    margin: 0 80px 20px 80px !important;
  }
  .emerge_vid_ .emerge_vid_title h2 {
    font-size: 50px !important;
  }
  .emerge_vid_campaign .emerge_vid_title h2 {
    font-size: 50px !important;
    margin: 50px 0 !important;
  }
  .emerge_vid_campaign video {
    width: 400px;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 1100px !important;
  }
  .campaign_banner .banner_textBox {
    margin: auto 80px !important;
    top: 20% !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    width: 700px;
    margin: 20px 0;
  }
  footer .footer_logo_box img {
    width: 200px !important;
  }
}
@media only screen and (min-width: 1401px) {
  p {
    font-size: 20px !important;
    line-height: 28px !important;
  }
  button {
    padding: 14px 22px !important;
    border-radius: 100px !important;
  }
  .br_break {
    display: none;
  }
  .home_banner img {
    width: 100%;
    height: 1500px !important;
    object-fit: cover;
  }
  .home_banner .banner_textBox {
    margin: 20px 80px !important;
  }
  .home_banner .banner_textBox .bullying_taglines {
    margin: 250px 0 !important;
  }
  .home_banner .banner_textBox .bullying_taglines h2 {
    font-size: 90px !important;
    line-height: 86px !important;
  }
  .home_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 50px !important;
  }
  .home_banner .banner_textBox .bullying_taglines p {
    margin: 50px 0 !important;
  }
  .home_banner .banner_textBox .bullying_definition .br_break {
    display: none;
  }
  .home_banner .banner_textBox .bullying_definition h3 {
    font-size: 50px !important;
    line-height: 42px;
    padding: 10px 0;
  }
  .home_banner .banner_textBox .bullying_types {
    margin: 80px 0 0 0;
    display: grid !important;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 50px;
  }
  .home_banner .banner_textBox .bullying_types div h3 {
    font-size: 23px;
  }
  .home_stop_bullying {
    margin: 150px 80px !important;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
  }
  .home_stop_bullying .break_line {
    display: block;
  }
  .home_stop_bullying .home_stop_bullying_textBox h2 {
    font-size: 70px !important;
    line-height: 80px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons {
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    margin: 50px 0;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox {
    padding: 30px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox h3 {
    font-size: 24px !important;
    line-height: 32px !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox p {
    padding: 20px 0 !important;
  }
  .home_stop_bullying .home_stop_bullying_reasons .home_each_reason_box .reason_box_textBox button {
    font-size: 20px !important;
  }
  .home_campaigns_activity .home_campaigns_bg img {
    width: 100%;
    height: 1100px;
  }
  .home_campaigns_activity .home_campaigns {
    margin: 100px 80px !important;
  }
  .home_campaigns_activity .home_campaigns h3 {
    font-size: 70px !important;
    padding: 100px 0;
  }
  .home_campaigns_activity .home_campaigns .campaigns_activities {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 70px;
    margin-top: -100px !important;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 {
    width: 100%;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 h3 {
    font-size: 35px !important;
    padding: 20px 0 0 0;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 img {
    padding: 0 0 20px 0;
    width: 300px !important;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  .home_campaigns_activity .home_campaigns .campaign_1 p {
    font-size: 18px !important;
  }
  .home_contact {
    padding: 50px 0 !important;
  }
  .home_contact .homeContact_textBox h2 {
    font-size: 50px !important;
  }
  .home_contact .homeContact_textBox p {
    padding: 10px 0;
  }
  .about_banner_textBox,
  .behind_emerge {
    margin-left: 80px !important;
    margin-right: 80px !important;
  }
  .about_banner_textBox h2 {
    font-size: 70px !important;
  }
  .behind_emerge {
    top: 10% !important;
  }
  .behind_emerge h3 {
    font-size: 50px !important;
  }
  .behind_emerge p {
    padding: 0 50px 90px 50px !important;
  }
  .emerge_vid {
    margin: 0 80px 20px 80px !important;
  }
  .emerge_vid .emerge_vid_title h2 {
    font-size: 50px !important;
    line-height: 58px !important;
    padding: 200px 0 30px 0;
  }
  .emerge_vid .emerge_vid_title .break_line {
    display: block;
  }
  .emerge_vid video {
    width: 100%;
    height: auto;
  }
  .emerge_vid_campaign {
    margin: 0 80px 20px 80px !important;
  }
  .emerge_vid_campaign div h2 {
    font-size: 60px !important;
    padding: 50px 0 !important;
  }
  .emerge_vid_campaign video {
    width: 100%;
    height: auto;
  }
  .campaign_banner_img img {
    width: 100%;
    height: 1100px !important;
  }
  .campaign_banner .banner_textBox {
    margin: auto 80px !important;
    top: 25% !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 {
    font-size: 70px !important;
    line-height: 70px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines h2 .heading_text_span1 {
    font-size: 40px !important;
  }
  .campaign_banner .banner_textBox .bullying_taglines p {
    width: 700px;
    margin: 20px 0;
  }
  .empty_space {
    height: 400px !important;
  }
}
@media only screen and (max-width: 1024px) {
  .disappear {
    display: none;
  }
}
@media only screen and (min-width: 501px) {
  .articles {
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .articles .article .articledesc a h2 {
    font-size: 50px !important;
    line-height: 60px !important;
  }
  .articles .article .articledesc p {
    font-size: 20px !important;
    line-height: 30px !important;
  }
}
@media only screen and (min-width: 1025px) {
  .articles {
    padding: 0 30px;
  }
  .articles .article {
    margin: 0 50px;
    display: flex;
    flex-direction: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    column-gap: 20px;
    align-items: center;
  }
  .articles .article .articledesc {
    max-width: 800px;
  }
}
.campaign_lightbox {
  z-index: 5000;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white !important;
}

.close {
  position: relative;
  top: 20px;
  left: 95%;
  cursor: pointer;
  width: 25px;
}

.campaigns_activities {
  z-index: 1000;
}

@media only screen and (max-width: 1024px) {
  .mobile_nav_bar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
  }
  .mobile {
    font-family: "Lato", "Arial", "Helvetica";
  }
  .pc {
    display: none;
  }
  .mobile_logo {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    margin: 0 auto;
    z-index: 2000;
  }
  .mobile_logo a img {
    width: 150px;
    height: auto;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3137254902));
  }
  #overlay-button {
    position: absolute;
    right: 30px;
    padding: 30px 0;
    z-index: 1800;
    cursor: pointer;
    user-select: none;
  }
  #overlay-button span {
    height: 3px;
    width: 30px;
    border-radius: 2px;
    background-color: white;
    position: relative;
    display: block;
    transition: all 0.2s ease-in-out;
  }
  #overlay-button span:before {
    top: -8px;
    right: 0;
    visibility: visible;
  }
  #overlay-button span:after {
    top: 8px;
    right: 0;
  }
  #overlay-button span:before,
  #overlay-button span:after {
    height: 3px;
    width: 30px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    content: "";
    transition: all 0.2s ease-in-out;
  }
  #overlay-button:hover span,
  #overlay-button:hover span:before,
  #overlay-button:hover span:after {
    background: #76C4D1;
  }
  input[type=checkbox] {
    display: none;
  }
  input[type=checkbox]:checked ~ #overlay {
    visibility: visible;
  }
  input[type=checkbox]:checked ~ #overlay-button:hover span,
  input[type=checkbox]:checked ~ #overlay-button span {
    background: transparent;
  }
  input[type=checkbox]:checked ~ #overlay-button span:before {
    transform: rotate(45deg) translate(6px, 5px);
    opacity: 1;
  }
  input[type=checkbox]:checked ~ #overlay-button span:after {
    transform: rotate(-45deg) translate(6px, -6px);
  }
  #overlay {
    height: 100vh;
    width: 100vw;
    background: #184568;
    z-index: 10;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
  }
  #overlay.active {
    visibility: visible;
  }
  #overlay ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    list-style-type: none;
    padding: 30px 0;
  }
  #overlay ul li {
    padding: 20px 0;
  }
  #overlay ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.2s ease-in;
  }
  #overlay ul li a:hover {
    color: #76C4D1;
  }
}
@media only screen and (min-width: 1025px) {
  .mobile,
  .mobile_logo {
    display: none;
  }
  #mainNav {
    font-family: "Lato", "Arial", "Helvetica";
    z-index: 200;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  #mainNav .nav_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5647058824);
    width: 100%;
  }
  #mainNav .nav_container .navList div {
    width: 100%;
    padding: 0 80px;
  }
  #mainNav .nav_container ul {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    padding: 40px 0;
    align-items: center;
    text-align: center;
  }
  #mainNav .nav_container ul .selected a {
    color: #76C4D1;
  }
  #mainNav .nav_container ul a {
    color: white;
  }
  #mainNav .nav_container ul a:hover {
    color: #76C4D1;
  }
  #mainNav .logo a {
    float: left;
    margin: 0 80px;
  }
  #mainNav .logo a img {
    width: 200px;
    position: absolute;
    filter: drop-shadow(0 6px 6px rgba(0, 0, 0, 0.3137254902));
  }
}
@media only screen and (max-width: 1024px) {
  .footer_socialMedia {
    padding: 20px 0;
  }
  .copyright p {
    font-size: 16px !important;
  }
  .footer_logo {
    background-color: white;
  }
  footer {
    background-color: #1C1C1C;
    color: white;
    font-family: "Lato", "Arial", "Helvetica";
    text-align: center;
    font-weight: 500;
  }
  footer .footer_infos {
    padding: 50px 0;
  }
  footer .footer_logo_box img {
    width: 120px;
    height: auto;
    cursor: pointer;
  }
  footer a {
    color: white;
  }
  footer .footer_details .footer_socialMedia {
    margin: 20px 0;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    font-size: 40px;
    color: white;
  }
  footer .footer_details .footer_socialMedia a {
    transition: all 0.2s ease-in;
  }
  footer .footer_details .footer_socialMedia a:hover {
    color: #76C4D1;
  }
  footer .footer_details .footer_socialMedia i {
    display: block;
  }
  footer .footer_details .footer_nav {
    margin: 40px 0 0 0;
  }
  footer .footer_details .footer_nav ul li {
    padding: 4px 0;
  }
  footer .footer_details .footer_nav ul li a {
    transition: all 0.2s ease-in;
  }
  footer .footer_details .footer_nav ul li a:hover {
    color: #76C4D1;
  }
  footer .footer_details .footer_contactInfo ul li {
    padding: 4px 0;
  }
  footer .copyright {
    background-color: white;
    color: black;
    padding: 18px 0;
  }
}
@media only screen and (min-width: 1025px) {
  .copyright p {
    font-size: 16px !important;
    padding: 0px 0 50px 0;
  }
  footer {
    background-color: #1C1C1C;
    color: white;
    font-family: "Lato", "Arial", "Helvetica";
    text-align: center;
    font-weight: 500;
  }
  footer .footer_infos {
    padding: 50px 0;
  }
  footer .footer_logo_box img {
    width: 120px;
    height: auto;
    cursor: pointer;
  }
  footer a {
    color: white;
  }
  footer .footer_nav {
    margin: 0 !important;
  }
  footer .footer_nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 30px !important;
  }
  footer .footer_nav ul li {
    font-size: 18px !important;
  }
  footer .copyright p {
    font-size: 18px !important;
  }
  footer .footer_details {
    margin: auto 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center !important;
  }
  footer .footer_details .footer_socialMedia {
    display: none;
    padding: 20px 0;
  }
  footer .footer_org_contactInfo {
    justify-content: flex-end;
    align-items: center;
  }
  footer .footer_org_contactInfo .footer_contact {
    display: flex;
    flex-direction: column;
  }
  footer .footer_org_contactInfo .footer_contactInfo ul {
    display: flex;
    flex-direction: row;
    column-gap: 30px !important;
  }
  footer .footer_org_contactInfo .footer_contactInfo ul li p {
    font-size: 18px !important;
  }
}
@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
.bullying_taglines h2,
.about_banner_textBox h2 {
  animation: slideDown 1s forwards;
}

.bullying_taglines p,
.about_banner_textBox .sep_line {
  animation: slideDown 1.4s forwards;
}

.bullying_definition h3,
.about_banner_textBox p {
  animation: slideDown 1.6s forwards;
}

.bullying_definition p,
.behind_emerge h3 {
  animation: slideDown 1.8s forwards;
}

.behind_emerge p {
  animation: slideDown 2s forwards;
}