<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="public/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="public/images/logo.svg">
    <title>Emerge Out From Behind</title>
</head>
<body>
    <header>
        <!-- Mobile Menu -->
        <div class="mobile_nav_bar">
            <div class="mobile_logo">
                <a href="./index.html">
                    <img src="./public/images/logo.svg" alt="Main Logo Mobile Page">
                </a>        
            </div>
    
            <div class="mobile tablet">
                <input type="checkbox" id="overlay-input"/>
                <label for="overlay-input" id="overlay-button">
                    <span></span>
                </label>
    
                <div id="overlay">
                    <ul>
                        <li><a class="active" href="./index.html">Home</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./campaign.html">Campaigns</a></li>
                        <li><a href="./blog.html">Blog</a></li>
                        <li><a href="#contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Mobile Menu -->

        <!-- PC Nav -->
        <nav id="mainNav" class="pc">
            <div class="logo">
                <a href="./index.html">
                    <img src="./public/images/logo.svg" alt="Main Logo">
                </a>
            </div>

            <div class="nav_container">
                <div class="logo_placeholder"></div>

                <div class="navList">
                    <div>
                        <ul>
                            <li class="selected"><a href="./index.html">Home</a></li>
                            <li><a href="./about.html">About Us</a></li>
                            <li><a href="./campaign.html">Campaigns</a></li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="#contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End PC Nav -->
    </header>

    <main class="container" id="app">
        <h1 class="hidden">Bullying In Swimming</h1>

        <section class="home_banner">
            <h2 class="hidden">Bullying In Swimming Banner</h2>
            <div class="home_banner_img">
                <img src="./public/images/home_banner.png" alt="home banner image">
            </div>

            <div class="banner_textBox">
                <div class="bullying_taglines">
                    <h2>
                        <span class="heading_text_span1">It's Not Football</span><br>
                        But <span class="lightblue_text">It's</span> Still There
                    </h2>
                    
                    <p>While we say physical abuse is concerning in Football because it’s aggressive. Swimming isn't immune.</p>
                </div>

                <div class="bullying_definition">
                    <h3>What Is<br class="br_break">“Bullying In Swimming”?</h3>
                    <p>
                        Swimming, despite being a physically and mentally challenging sport, is often considered lesser-known compared to more popular sports. Swimmers undergo aggressive training to enhance their performance and increase their chances of winning, but this can result in physical and emotional burnout. Emotional bullying is another issue in swimming, which can be detrimental to the mental health and overall performance of swimmers. Swimmers may also experience discrimination based on gender, race, or sexual orientation. It is crucial for the swimming community to recognize and prevent these challenges by promoting a positive and inclusive team culture, educating athletes and coaches, and creating safe spaces for swimmers.
                    </p>
                </div>

                <div class="bullying_types">
                    <div class="physical">
                        <h3>Physical Bullying</h3>
                        <p>Hitting, slapping, throwing swimming equipment like towel snapping, tripping, head butting and physical violence against another’s will</p>
                    </div>

                    <div class="verbal">
                        <h3>Verbal Bullying</h3>
                        <p>Name-calling, nasty and cruel nicknames, taunting, rudeness and threats of violence and/or harm to a teammate or another student.</p>
                    </div>

                    <div class="social">
                        <h3>Social Bullying</h3>
                        <p>Ganging up, preventing a person from going somewhere, taking a person’s possessions gossiping, embarrassment of a player in front of others.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="home_stop_bullying">
            <div class="home_stop_bullying_textBox">
                <h2>Why Does It Need <br class="br_break break_line"><span class="navy_text">More Attention?</span></h2>
            </div>

            <div class="home_stop_bullying_reasons">
                <div class="home_each_reason_box">
                    <img src="./public/images/home_reason_1.jpg">
                    <div class="reason_box_textBox">
                        <h3>Stopping Toxic Culture</h3>
                        <p>Sports should promote and foster an environment in which athletes feel safe and secure.</p>
                        <a href="https://books.google.ca/books?hl=en&lr=&id=Ka0_KFxwmSkC&oi=fnd&pg=PA57&dq=bullying+in+swimming+sport+canada&ots=DsDMFA_BvZ&sig=8CLRK2_C0jrdsIo0GPb9PzvIxts#v=onepage&q=bullying%20in%20swimming%20sport%20canada&f=false">
                            <button>Read More</button>
                        </a>
                    </div>
                </div>

                <div class="home_each_reason_box">
                    <img src="./public/images/home_reason_2.jpg">
                    <div class="reason_box_textBox">
                        <h3>Protecting Rights</h3>
                        <p>Swimmers have the right to train and compete in a harassment- and discrimination-free environment.</p>
                        <a href="https://www.theguardian.com/sport/2017/oct/12/paraswimmers-verbally-abused-by-coach-climate-fear">
                            <button>Read More</button>
                        </a>
                    </div>
                </div>

                <div class="home_each_reason_box">
                    <img src="./public/images/home_reason_3.jpg">
                    <div class="reason_box_textBox">
                        <h3>Promoting Positive Actions</h3>
                        <p>Kindness, acceptance, and inclusiveness should be encouraged.</p>
                        <a href="https://www.cbc.ca/sports/paralympics/success-is-sweet-revenge-against-bullying-for-paralympic-star-aur%C3%A9lie-rivard-1.5094068">
                            <button>Read More</button>
                        </a>
                    </div>
                </div>

                <div class="home_each_reason_box">
                    <img src="./public/images/home_reason_4.jpg">
                    <div class="reason_box_textBox">
                        <h3>Building Healthy Social Relationship</h3>
                        <p>Bullying in sports can make it harder for players to grow.</p>
                        <a href="Cal Swimmers Accuse Coach of Verbal Abuse, Bullying, per Report - Sports Illustrated ">
                            <button>Read More</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="home_campaigns_activity">
            <div class="home_campaigns_bg">
                <img src="./public/images/home_campaign_bg.jpg">
            </div>

            <lightbox 
                @closelb="this.showLightBox = false" 
                v-if="showLightBox" 
                :activity="lightboxData">
            </lightbox>

            <section class="home_campaigns">
                <h3>Our Campaigns Activites</h3>

                <div class="campaigns_activities">
                    <campaignactivity 
                        @loadlb="loadLightBox" 
                        v-for="campaign in campaignData" 
                        :activity="campaign">
                    </campaignactivity>
                    
                    <!-- <div class="campaign_1">
                        <img src="./public/images/placeholder_campaign_2.jpg">
                        <h3>Belly Flop Challenge</h3>
                        <p>Dive into the pool with the biggest loudest & most awkward belly flop! Post short video with the hashtags!<br>
                            #SwimToEmerge #BellyFlopChallenge #BuddyNotBully</p>
                        <p class="campaign_details">2023.Feb.15 / London Downtown</p>
                        <button>View More</button>
                    </div>
            
                    <div class="campaign_2">
                        <img src="./public/images/placeholder_campaign_1.jpg">
                        <h3>Swim To Emerge</h3>
                        <p>A “Swim to EMERGE” swim-a-thon event carried out at gyms/swim clubs in the city to raise funds for the anti-bullying initiative and awareness.</p>
                        <p class="campaign_details">2023.Feb.15 / London Downtown</p>
                        <button>View More</button>
                    </div> -->
                </div>
            </section>
        </section>

        <section class="home_contact" id="contact_us">
            <div class="homeContact_textBox">
                <h2>Make Changes With Us!</h2>
                <p>Would you like to make changes with us? Or, would you like to join us? Let us know!</p>
                <!-- <button>Contact Us</button> -->

                <div class="contact_socialMedia">
                    <a href="#"><i class="ri-instagram-fill"></i></a>
                    <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                    <a href="#"><i class="ri-twitter-fill"></i></a>
                    <a href="#"><i class="ri-youtube-fill"></i></a>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer_infos">
            <!-- <div class="footer_logo_box br_break">
                <a href="#app">
                    <img class="footer_logo" src="./public/images/logo_w.svg">
                </a>
            </div> -->
    
            <div class="footer_details">
                <div class="footer_nav">
                    <ul>
                        <li><a href="./index.html">Home</a></li>
                        <li><a href="./about.html">About Us</a></li>
                        <li><a href="./campaign.html">Campaigns</a></li>
                        <!-- <li><a href="./blog.html">Blogs</a></li> -->
                        <li><a href="#contact_us">Contact Us</a></li>
                    </ul>
                </div>
    
                <div class="footer_org_contactInfo">
                    <div class="footer_contact">
                        <div class="footer_socialMedia">
                            <a href="#"><i class="ri-instagram-fill"></i></a>
                            <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                            <a href="#"><i class="ri-twitter-fill"></i></a>
                            <a href="#"><i class="ri-youtube-fill"></i></a>
                        </div>
                        
                        <div class="footer_contactInfo">
                            <ul>
                                <li><p>www.swimandgemerge.com</p></li>
                                <li><p>+1 519.123.4567</p></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="copyright">
            <p>&copy; XYZ Agency. All right is reserved.</p>
        </div>
    </footer>

    <!-- vue js library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/vue-router@4"></script>
    <script src="public/js/main.js" type="module" defer></script>
</body>
</html>