<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="images/logo.svg">
    <title>Emerge Out From Behind</title>
</head>
<body>
    <header>
        <!-- Mobile Menu -->
        <div class="mobile_nav_bar">
            <div class="mobile_logo">
                <a href="/">
                    <img src="images/logo.svg" alt="Main Logo Mobile Page">
                </a>        
            </div>
    
            <div class="mobile tablet">
                <input type="checkbox" id="overlay-input"/>
                <label for="overlay-input" id="overlay-button">
                    <span></span>
                </label>
    
                <div id="overlay">
                    <ul>
                        <li><a class="active" href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/campaign">Campaigns</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/#contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- End Mobile Menu -->

        <!-- PC Nav -->
        <nav id="mainNav" class="pc">
            <div class="logo">
                <a href="/">
                    <img src="images/logo.svg" alt="Main Logo">
                </a>
            </div>

            <div class="nav_container">
                <div class="logo_placeholder"></div>

                <div class="navList">
                    <div>
                        <ul>
                            <li class="selected"><a href="/">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/campaign">Campaigns</a></li>
                            <li><a href="/blog">Blog</a></li>
                            <li><a href="/#contact_us">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End PC Nav -->
    </header>

    <main class="container" id="app">
        <h1 class="hidden">Bullying In Swimming</h1>

        <section class="campaign_banner">
            <h2 class="hidden">Bullying In Swimming Banner</h2>

            <div class="campaign_banner_img">
                <img src="images/blog_banner.jpg" alt="campaign banner image">
            </div>

            <div class="banner_textBox">
                <div class="bullying_taglines">
                    <h2>
                        <span class="heading_text_span1">EMERGE <span class="lightblue_text">Journal</span></span><br>
                    </h2>
                    
                    <p>The recent news and posts of Emerge. Join us in Making a Change!</p>
                </div>
            </div>
        </section>

        <section class="articles">
            <articlethumb @loadlbdata="loadLightbox" v-for="article in articleData" :article="article"></articlethumb>
        </section>
        <thelightbox @closelightbox="this.showLB=false" v-if="showLB" :activity="lbData"></thelightbox>
        <!--<section class="articles">
            <div class="article">
                <img src="images/article1.jpg" alt="">
                <div class="articledesc">
                    <a href="article.html"><h2>Don’t Let Bullying Ruin Your Child’s Swimming Lessons</h2></a>
                    <p>
                        How to protect your child from being bullied in swimming lessons. Useful tips for Moms.
                    </p>
                </div>
            </div>
            <div class="article">
                <img src="images/article2.jpg" alt="">
                <div class="articledesc">
                    <a href="article.html"><h2>Making Waves: Addressing Bullying in Competitive Swimming</h2></a>
                    <p>
                        Why bullying occurs in competitive swimming?
                    </p>
                </div>
            </div>
            <div class="article">
                <img src="images/article3.jpg" alt="">
                <div class="articledesc">
                    <a href="article.html"><h2>‘Belly Flop Challenge’ gains momentum</h2></a>
                    <p>
                        The recent popularity of the ‘Belly Flop Challenge’ raises awareness about bullying in swimming.
                    </p>
                </div>
            </div>

        </section>-->
    </main>

    <footer>
        <section class="footer_infos">
            <!--<div class="footer_logo_box br_break">
                <a href="#main">
                    <img class="footer_logo" src="./public/images/placeholder_footer_logo.jpg">
                </a>
            </div>-->
    
            <div class="footer_details">
                <div class="footer_nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/campaign">Campaigns</a></li>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/#contact_us">Contact Us</a></li>
                    </ul>
                </div>
    
                <div class="footer_org_contactInfo">
                    <!--<div class="footer_logo_box disappear">
                        <a href="#main">
                            <img class="footer_logo" src="./public/images/placeholder_footer_logo.jpg">
                        </a>
                    </div>-->

                    <div class="footer_socialMedia">
                        <a href="#"><i class="ri-instagram-fill"></i></a>
                        <a href="#"><i class="ri-facebook-circle-fill"></i></a>
                        <a href="#"><i class="ri-twitter-fill"></i></a>
                        <a href="#"><i class="ri-youtube-fill"></i></a>
                    </div>
                    
                    <div class="footer_contactInfo">
                        <ul>
                            <li><p>beabuddy@notabully.com</p></li>
                            <li><p>+1 519.000.0000</p></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        
        <div class="copyright">
            <p>&copy; XYZ Agency. All right is reserved.</p>
        </div>
    </footer>

    <!-- vue js library -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module" defer></script>
</body>
</html>