@media only screen and (max-width: 1024px) {
    
}

@media only screen and (min-width: 1025px) {
    footer {
        ul li {
            font-size: 20px !important;
        }

        .copyright {
            p {
                font-size: 20px !important;
            }
        }

        .footer_logo_box {
            img {
                width: 200px !important;
                right: 0;
            }
        }

        .footer_details {
            margin: auto 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .footer_socialMedia {
                padding: 20px 0;
            }
        }
    }
}