@media only screen and (max-width: 1024px) {
    .footer_socialMedia {
        padding: 20px 0;
    }

    .copyright {
        p {
            font-size: 16px !important;
        }
    }

    .footer_logo {
        background-color: white;
    }

    footer {
    background-color: #1C1C1C;
    color: white;
    font-family: 'Lato', 'Arial', 'Helvetica';
    text-align: center;
    font-weight: 500;

    .footer_infos {
        padding: 50px 0;
    }

    .footer_logo_box {
        img {
            width: 120px;
            height: auto;
            cursor: pointer;
        }
    }

    a {
        color: white;
    }

    .footer_details {
        .footer_socialMedia {
            margin: 20px 0;
            display: flex;
            column-gap: 10px;
            justify-content: center;
            font-size: 40px;
            color: white;

            a {
                transition: all .2s ease-in;
                
                &:hover {
                    color: #76C4D1;
                }
            }
            
            i {
                display: block;
            }
        }

        .footer_nav {
            margin: 40px 0 0 0;

            ul li {
                padding: 4px 0;
                
                a {
                    transition: all .2s ease-in;
                    
                    &:hover {
                        color: #76C4D1;
                    }
                }
            }
        }

        .footer_contactInfo {
            ul li {
                padding: 4px 0;
            }
        }
    }

    .copyright {
        background-color: white;
        color: black;
        padding: 18px 0;
    }
}
}

@media only screen and (min-width: 1025px) {
    footer {
        .footer_nav {
            margin: 0 !important;
        }

        .footer_nav ul {
            display: flex;
            flex-direction: row;
            justify-content: center;
            column-gap: 30px !important;
        }

        .footer_nav ul li {
            font-size: 18px !important;
        }

        .copyright {
            p {
                font-size: 18px !important;
            }
        }

        .footer_details {
            margin: auto 80px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center !important;

            .footer_socialMedia {
                display: none;
                padding: 20px 0;
            }
        }

        .footer_org_contactInfo {
            justify-content: flex-end;
            align-items: center;

            .footer_contact {
                display: flex;
                flex-direction: column;
            }

            .footer_contactInfo {
                ul {
                    display: flex;
                    flex-direction: row;
                    column-gap: 30px !important;
    
                    li p {
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}